<section class="content hasContent">
    <section class="inner">
        <h3 class="heading">About ShockLock</h3>
        <h5 class="heading2">
            ShockLock is a tool that you can use when you need to hold up a hatch with worn-out GCS.
            The mechanical efficiency is maximized by taking the load off the compressed gas found in GCS.
        </h5>
    </section>
</section>
<section class="content hasContent">
    <section class="inner">
        <p class="heading3">
            ShockLock is the conception and Ingenuity of three graduates from the University of Waterloo in Kitchener Ontario Canada. Shiva Bhardwaj
            is an Electrical Engineering graduate with an extensive background with automotive service as a result of his fathers mechanic shops. Nitish Pahwa
            is a Mechanical Engineering graduate who has designed and built automotive products for companies like Linamar and ABC group. Yashin Shah is an Arts
            and Business graduate with a successful background in sales and marketing as a result of working at Microsoft and the Globe & Mail alongside being an
            avid auto enthusiast.
        </p>
    </section>
</section>
<section class="content hasContent">
    <section class="inner">
        <p class="heading3">
            After many years in his fathers mechanic shop Shiva witnessed countless injuries to both mechanics and customers under their failed hood or trunk supports.
            One incident in particular triggered the initiative to solve this problem which was when an older gentleman went into the trunk of his Mercedes B200 to grab
            some bags as he was leaving his vehicle at the shop for engine repairs. While grabbing his bags he slightly shook the vehicle which resulted in his weakened
            struts to fail causing his trunk to come crashing down like a guillotine. Luckily Shiva was there to catch the hatch before it smashed his back!! When Shiva
            asked the customer if he should order him two gas charged lift supports the response was, "No way I have looked at the price and $150 for the pair is not worth while".
            What shocked Shiva was the cost of being safe from your hatch was significantly overpriced, and that is where we set out to developing our simple yet cost effective technology
            to bring ShockLock to the automotive world.
        </p>
    </section>
</section>
<section class="fancyDivider"></section>
<section class="content beforeFooter">
    <section class="inner">
        <h3 class="heading">Got A Question?</h3>
        <h5 class="heading2">
            Shoot us an email at info@shocklock.ca and we will get back to you as soon as possible.
        </h5>
    </section>
</section>