<header class="homeHeader">
    <section class="columns">
        <section class="column-6">
            &nbsp;
        </section>
        <section class="column-6">
            <div>
                <section class="column-3 alignCenter">
                    <i class="contentIcon ion-android-hand"></i>
                    <h5 class="iconTitle">
                        One Handed Application
                    </h5>
                </section>

                <section class="column-3 alignCenter">
                    <i class="contentIcon ion-cube"></i>
                    <h5 class="iconTitle">
                        Supports 100 lbs of Weight
                    </h5>
                </section>

                <section class="column-3 alignCenter">
                    <i class="contentIcon ion-thumbsup"></i>
                    <h5 class="iconTitle">
                        Non Damaging
                    </h5>
                </section>
            </div>
            <div>
                <br><br>
                <h1 class="title animated bounceInLeft" style="padding-top:85px;">
                    <span style="color:white">Shock</span><strong>Lock</strong>
                </h1>
                <p class="description animated bounceInRight">
                    <span style="color:black">The Safest Solution for Failed Gas Struts</span>
                </p>
                <a class="vidbutton animated fadeInDownBig" href="https://www.youtube.com/watch?v=Qt1b8ibUeOY" target="_blank">
                    Learn More
                </a>
            </div>
        </section>
    </section>

</header>
<section class="content hasContent">
    <section class="inner">
        <h3 class="heading">ShockLock is all about SAFETY</h3>
        <!-- <h5 class="heading2"> This will turn into a testimonial on one icon
            ShockLock is the strongest solution for failed gas struts.
            It is a heavy duty tool to help hold up hatches like hoods and trunks,
            providing a safe working environment for technicians and vehicle owners.
            Intuitively designed, ShockLock reduces vehicle damage liability,
            while optimizing engine workspace.
        </h5> -->
    </section>
</section>

<section class="content hasContent">
    <section class="inner">
        <div class="csslider">
            <input type="radio" name="slides" id="slides_1" checked />
            <input type="radio" name="slides" id="slides_2" />
            <input type="radio" name="slides" id="slides_3" />
            <input type="radio" name="slides" id="slides_4" />
            <ul>
                <li><img src="../resources/4S2A4863.jpg" alt="ShockLock Picture 1"></li>
                <li><img src="../resources/4S2A4860.jpg" alt="ShockLock Picture 2" style="margin-top: -200px;"></li>
                <li><img src="../resources/4S2A4847.jpg" alt="ShockLock Picture 3" style="margin-top: -200px;"></li>
                <li><img src="../resources/4S2A4846.jpg" alt="ShockLock Picture 4"></li>
            </ul>
            <div class="arrows">
                <label for="slides_1"></label>
                <label for="slides_2"></label>
                <label for="slides_3"></label>
                <label for="slides_4"></label>
                <label for="slides_1" class="goto-first"></label>
                <label for="slides_4" class="goto-last"></label>
            </div>
            <div class="navigation">
                <div>
                    <label for="slides_1"></label>
                    <label for="slides_2"></label>
                    <label for="slides_3"></label>
                    <label for="slides_4"></label>
                </div>
            </div>
        </div>
    </section>
</section>

<section class="fancyDivider"></section>
<section class="content hasContent">
    <section class="inner">
        <h3 class="heading">Technicians <i class="ion-heart" style="color:#E91E63"></i> ShockLock</h3>
        <h5 class="heading2">
            See what other technicians are saying about ShockLock.
        </h5>
    </section>
</section>
<section class="content"></section>
<section class="content hasContent">
    <section class="columns">
        <section class="column-4 alignCenter">
            <p class="description">
                “ShockLock is quick and easy to install”
            </p>
            <h6 class="title">
                – Independent owner at NapaAuto Pro
            </h6>
        </section>
        <section class="column-4 alignCenter">
            <p class="description">
                "ShockLock Definitely provides peace of mind, while working under the hood."
            </p>
            <h6 class="title">
                - Service Manager at Midas. Waterloo, Ontario.
            </h6>
        </section>
        <section class="column-4 alignCenter">
            <p class="description">
                “ShockLock is a safety tool all service centres should have to reduce injury liability.”
            </p>
            <h6 class="title">
                - Service Manager at JiffyLube. Mississauga, Ontario
            </h6>
        </section>
    </section>
    <br>
    <br>
    <section class="columns">
        <section class="column-4 alignCenter">
            <p class="description">
                “ShockLock is quick and easy to install”
            </p>
            <h6 class="title">
                – Independent owner at NapaAuto Pro
            </h6>
        </section>
        <section class="column-4 alignCenter">
            <p class="description">
                "ShockLock Definitely provides peace of mind, while working under the hood."
            </p>
            <h6 class="title">
                - Service Manager at Midas. Waterloo, Ontario.
            </h6>
        </section>
        <section class="column-4 alignCenter">
            <p class="description">
                “ShockLock is a safety tool all service centres should have to reduce injury liability.”
            </p>
            <h6 class="title">
                - Service Manager at JiffyLube. Mississauga, Ontario
            </h6>
        </section>
    </section>
</section>
<section class="fancyDivider"></section>
<section class="content hasContent">
    <section class="inner">
        <i class="contentIcon ion-trophy" style="color:#FFEB3B"></i>
        <h3 class="heading"> Partners</h3>
        <!-- <h5 class="heading2">
            ShockLock wouldn't be possible, without the help of these awesome organizations
        </h5> -->
        <h5 class="heading2">
            Our Partners
        </h5>
    </section>
</section>
<section class="content hasContent awards">
    <!-- <section class="columns">
        <p class="heading3">
            <i class="ion-trophy" style="color:#FFEB3B"></i> 2015 HumberLaunch Entrepreneur Awards - “Start-up of The Year Award”<br>
            <i class="ion-trophy" style="color:#FFEB3B"></i> 2015 NSERC Engage Grant Recipient<br>
            <i class="ion-trophy" style="color:#FFEB3B"></i> 2015 Communitech Business Development Grant<br>
            <i class="ion-trophy" style="color:#FFEB3B"></i> 2015 Ontario Centre’s of Excellence SmartStart Seed Fund<br>
            <i class="ion-trophy" style="color:#FFEB3B"></i> 2014 University of Waterloo Velocity Fund Final “Best Overall Pitch” Award<br>
            <i class="ion-trophy" style="color:#FFEB3B"></i> 2014 Ontario Regional Alliance Fund Recipient<br>
            <i class="ion-trophy" style="color:#FFEB3B"></i> 2014 Ontario Starter Company Award<br>
            <i class="ion-trophy" style="color:#FFEB3B"></i> 2014 Ontario Summer Company Award<br>
        </p>
    </section> -->
</section>

<section class="fancyDivider"></section>
<section class="content beforeFooter">
    <section class="inner">
        <h3 class="heading">Connect With ShockLock</h3>
        <section class="columns">
            <section class="column-6">
                <div class="fb-page" data-href="https://www.facebook.com/theshocklock" data-width="700" data-height="300" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/theshocklock"><a href="https://www.facebook.com/theshocklock">ShockLock</a></blockquote></div></div>
            </section>
            <section class="column-6">
            </section>
        </section>
    </section>
</section>