<section class="content hasContent">
    <section class="inner">
        <h3 class="heading">ShockLock is all about SAFETY</h3>
        <h5 class="heading2">
            ShockLock is a tool that you can use when you need to hold up a hatch with worn-out GCS.
            The mechanical efficiency is maximized by taking the load off the compressed gas found in GCS.
        </h5>
    </section>
</section>
<section class="content hasContent">
    <section class="inner">
        <iframe height="500px" src="//www.youtube.com/embed/Qt1b8ibUeOY" frameborder="0" allowfullscreen></iframe>
    </section>
</section>
<section class="content hasContent">
    <section class="columns">
        <section class="column-4 alignCenter">
            <i class="contentIcon ion-android-hand"></i>
            <h5 class="title">
                One Handed Application
            </h5>
            <p class="description">
                ShockLock is easy to use and you can install/uninstall it with only one hand.
            </p>
        </section>
        <section class="column-4 alignCenter">
            <i class="contentIcon ion-cube"></i>
            <h5 class="title">
                Supports 100 lbs of Weight
            </h5>
            <p class="description">
                ShockLock is strong! ShockLock supports 100 lbs of weight while the average hatch is 40lbs.
            </p>

        </section>
        <section class="column-4 alignCenter">
            <i class="contentIcon ion-thumbsup"></i>
            <h5 class="title">
                Non Damaging
            </h5>
            <p class="description">
                ShockLock is made from 100% non-damaging aluminium.
            </p>
        </section>
    </section>
</section>
<section class="fancyDivider"></section>
<section class="content hasContent">
    <section class="inner">
        <h3 class="heading">Technicians <i class="ion-heart" style="color:#E91E63"></i> ShockLock</h3>
        <h5 class="heading2">
            Not satisfied? You can see what other mechanics are saying about ShockLock.
        </h5>
    </section>
</section>
<section class="content"></section>
<section class="content hasContent">
    <section class="columns">
        <section class="column-4 alignCenter">
            <p class="description">
                “A third of our customers come in with worn-out struts.
                My customers will be pleased to use ShockLock for a fraction of the price.”
            </p>
            <h6 class="title">
                Joe Walker, Owner at Western Auto Services - London, ON
            </h6>
        </section>
        <section class="column-4 alignCenter">
            <p class="description">
                "ShockLock Definitely provides peace of mind, while working under the hood."
            </p>
            <h6 class="title">
                – Robert Hillcoat, Owner/Head Mechanic
            </h6>
        </section>
        <section class="column-4 alignCenter">
            <p class="description">
                “Similar to Cruise Control, ShockLock has the potential to become a standard piece in every vehicle.”
            </p>
            <h6 class="title">
                – Ross McKenzie, Director at WatCAR, University of Waterloo, Waterloo,ON
            </h6>
        </section>
    </section>
</section>
<section class="fancyDivider"></section>
<section class="content hasContent">
    <section class="inner">
        <i class="contentIcon ion-heart" style="color:#E91E63"></i>
        <h3 class="heading">By People Like You</h3>
        <h5 class="heading2">
            We understand the challenges and difficulties that technicians face every day because we are
            technicians ourselves so we made ShockLock.
        </h5>
    </section>
</section>
<section class="fancyDivider"></section>
<section class="content beforeFooter">
    <section class="inner">
        <h3 class="heading">Got A Question?</h3>
        <h5 class="heading2">
            Shoot us an email at ShockLock@Ansik.ca and we will get back to you as soon as possible.
        </h5>
    </section>
</section>