<section class='productPage'>
	<section class="columns">
		<section class="column-4">
			<section class="inner">
		        <div class="csslider">
		            <input type="radio" name="slides" id="slides_1" checked />
		            <input type="radio" name="slides" id="slides_2" />
		            <input type="radio" name="slides" id="slides_3" />
		            <input type="radio" name="slides" id="slides_4" />
		            <ul>
		                <li><img src="../resources/4S2A4863.jpg" alt="ShockLock Picture 1"></li>
		                <li><img src="../resources/4S2A4860.jpg" alt="ShockLock Picture 2"></li>
		                <li><img src="../resources/4S2A4847.jpg" alt="ShockLock Picture 3"></li>
		                <li><img src="../resources/4S2A4846.jpg" alt="ShockLock Picture 4"></li>
		            </ul>
		            <div class="arrows">
		                <label for="slides_1"></label>
		                <label for="slides_2"></label>
		                <label for="slides_3"></label>
		                <label for="slides_4"></label>
		                <label for="slides_1" class="goto-first"></label>
		                <label for="slides_4" class="goto-last"></label>
		            </div>
		            <div class="navigation">
		                <div>
		                    <label for="slides_1">Safest Solution on the market</label>
		                    <label for="slides_2">Easy to use</label>
		                    <label for="slides_3">Protects up to 110 lbs</label>
		                    <label for="slides_4">Tried & Tested</label>
		                </div>
		            </div>
		        </div>
    		</section>
		</section>

		<section class="column-8">
			<section class="columns">
				<section class="column-4">
					&nbsp;
				</section>
				<section class="column-8">
					<h1 class="title animated bounceInLeft" style="padding-top:85px;">
		                <span style="color:white">Shock</span><strong>Lock</strong>
		            </h1>
		            <p class="description bounceInRight">
		                <span style="color:black">The Safest Solution for Failed Gas Struts</span>
		            </p>
				</section>
			</section>
		</section>
	</section>
</section>